<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}">
</head>
<body>

<div class="container">
    <h2>Registrarse</h2>

    <div th:if="${message != null}" class="message">
        [[${message}]]
    </div>

    <form th:action="@{/registrarse}" method="post" role="form" th:object="${usuario}">
        <div class="input-group">
            <label for="nombre">Nombre:</label>
            <input th:field="*{nombre}" type="text" id="nombre" name="nombre" placeholder="Ingrese su Nombre" required>
        </div>
        <div class="input-group">
            <label for="apellido">Apellido:</label>
            <input th:field="*{apellido}" type="text" id="apellido" name="apellido" placeholder="Ingrese su Apellido" required>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="text" id="email" name="email" placeholder="Ingrese su Email" required>
        </div>
        <div class="input-group">
            <label for="telefono">Teléfono:</label>
            <input th:field="*{telefono}" type="text" id="telefono" name="telefono" placeholder="Ingrese su Número de Teléfono" required>
        </div>
        <div class="input-group">
            <label for="edad">Edad:</label>
            <input th:field="*{edad}" type="text" id="edad" name="edad" placeholder="Ingrese su Edad" required>
        </div>
        <div class="input-group">
            <label for="contrasena">Contraseña:</label>
            <input th:field="*{contrasena}" type="password" id="contrasena" name="contrasena" placeholder="Cree su Contraseña" required>
        </div>
        <div class="input-group">
            <label for="confirmContrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmContrasena" name="confirmContrasena" placeholder="Repita su Contraseña" required>
        </div>
        <button type="submit" class="btn">Registrarse</button>
    </form>
    <button type="button" class="btn btn-separator" onclick="window.location.href='/'">Volver a Inicio</button>
</div>

</body>
</html>
