<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
            font-size: 20px;
            padding: 5px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #0077A8;
            color: white;
        }

        td {
            padding-left: 5px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Edad</th>
    </tr>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellido}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.telefono}"></td>
        <td th:text="${usuario.edad}"></td>
    </tr>
</table>
</body>
</html>
