<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Lista Usuario</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
            font-size: 20px;
            padding: 5px;
        }

        th, td {

            border: 1px solid black;
        }

        th {
            background-color: #0077A8;
            color: white;

        }

        td {
            padding-left: 5px;

        }


    </style>


</head>
<body>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>edad</th>
        <th>Contraseña</th>

    </tr>
    <tr  th:each="usuarios : ${usuario}">
        <td  th:text="${usuarios.nombre}"></td>
        <td  th:text="${usuarios.apellido}"></td>
        <td  th:text="${usuarios.email}"></td>
        <td  th:text="${usuarios.telefono}"></td>
        <td  th:text="${usuarios.edad}"></td>
        <td  th:text="${usuarios.contrasena}"></td>
    </tr>

</table>

</body>
</html>